{% extends 'base.html' %}
{% load static countries %}

{% block page %}
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">Adopt Happiness</div>
            <!--<div class="intro-lead-in">Welcome to the Pet Finder!</div>-->
            <!--<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>-->
            <form class="text-center" id="homeFilterForm" name="sendhomeFilterForm" role="form">
                <div class="row form-group">
                    <div class="col-md-4">
                        <select class="form-control" id="home-species" type="text">
                            <option value=''>Select Species</option>
                            <option value='Dog'>Dog</option>
                            <option value='Cat'>Cat</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="home-age" type="text">
                            <option value="">Select Pet's Age</option>
                            <option value="0.15-1.5">puppy</option>
                            <option value="1-6">adult</option>
                            <option value="6-15">senior</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        {% get_countries as countries %}
                        <select class="form-control" id="home-adoption-country" type="text">
                            <option value="">Select Your Country</option>
                            {% for country in countries %}
                            <option value="{{ country.code }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 text-center">
                        <button id="homeFilterButton" class="btn btn-primary btn-md text-uppercase" type="button">
                            Adopt
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>

<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Services</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-paw fa-stack-1x fa-inverse"></i>
          </span>
                <h4 class="service-heading">Adopt</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
          </span>
                <h4 class="service-heading">Care</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-globe-africa fa-stack-1x fa-inverse"></i>
          </span>
                <h4 class="service-heading">Global</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>
{% endblock page %}