{% extends 'base.html' %}
{% load static i18n thumbnail %}

{% block page %}
<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Pets for Adoption</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            {% if pets %}
            {% for pet in pets %}
                {% include 'pet_card.html' with pet=pet only %}

            <!-- Story Modal -->
            <div style="z-index: 9999" class="modal fade" id="storymodal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="storyModalLongTitle">Hi! I am {{pet.name}}!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-muted" style="padding: 25px">
                            {{pet.story}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Adopt Modal -->
            <div style="z-index: 9999" class="modal fade" id="adoptmodal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="adoptModalTitle">ADOPTION FORM</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% include 'adoption_form.html' with pet=pet only %}
                        </div>
                    </div>
                </div>
            </div>


            <!-- Detail Modal -->
            <div style="z-index: 9999" class="modal fade" id="detailmodal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title " id="detailModalTitle">
                                {{pet.name}}
                                {% if pet.gender|lower == 'm' or pet.gender|lower == 'male'%}
                                <i class="fas fa-mars fa-1x"></i>
                                {% else %}
                                <i class="fas fa-venus fa-1x"></i>
                                {% endif %}
                            </h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 text-center shadow p-3 mb-5 bg-white rounded">
                                        <img class="img-fluid" src="{% static pet.image %}" alt="">
                                        {% if pet.is_adopted and pet.show_badge %}
                                        <i class="fas fa-award fa-3x badge-image"></i>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 shadow p-3 mb-5 bg-white rounded">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4 key-text">
                                                    <h5>Age</h5>
                                                </div>
                                                <div class="col-md-8 value-text text-muted">
                                                    {{pet.age_year}} Year Old
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 key-text">
                                                    <h5>Breed</h5>
                                                </div>
                                                <div class="col-md-8 value-text text-muted">
                                                    {{pet.breed}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 key-text">
                                                    <h5>Gender</h5>
                                                </div>
                                                <div class="col-md-8 value-text text-muted">
                                                    {{pet.gender}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 key-text">
                                                    <h5>Location</h5>
                                                </div>
                                                <div class="col-md-8 value-text text-muted">
                                                    {{pet.location}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 key-text">
                                                    <h5>Sterilized</h5>
                                                </div>
                                                <div class="col-md-8 value-text text-muted">
                                                    {{pet.sterilized}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 key-text">
                                                    <h5>House Trained</h5>
                                                </div>
                                                <div class="col-md-8 value-text text-muted">
                                                    {{pet.house_trained}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 key-text">
                                                    <h5>Characteristics</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 value-text text-muted">
                                                    {{pet.characteristics}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shadow p-3 mb-5 bg-white rounded">
                                <div class="row">
                                    <div class="col-md-12 text-left key-text">
                                        <h4>Say Hello to {{pet.name}}!</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-left value-text text-muted">
                                        <p>{{pet.story}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <h4>{% trans 'No friends in this category yet :)' %}</h4>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock page %}