{% extends 'base.html' %}
{% load static countries %}

{% block page %}
<!-- Registration -->
<section class="bg-light" id="register">
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Pet Registration</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <form class="text-center" id="registrationForm" name="sendRegistrationForm" role="form" data-toggle="validator">
            <div class="row form-group">
                <label class="form-label col-md-2 col-form-label">Pet's Name*</label>
                <div class="col-md-4">
                    <input class="form-control" id="register-pet-name" type="text"
                           placeholder="Name of the pet"
                           required="required"
                           data-validation-required-message="Please enter pet's name.">
                    <p class="help-block with-errors text-danger"></p>
                </div>
                <label class="form-label col-md-2 col-form-label">DOB*</label>
                <div class="col-md-4 input-group date">
                    <input data-provide="datepicker" class="form-control" id="register-dob" />
                </div>
            </div>
            <div class="row form-group">
                <label class="form-label col-md-2 col-form-label">Species*</label>
                <div class="col-md-4">
                    <select class="form-control" id="register-species" type="text" required="required">
                        <option value=''>Choose</option>
                        <option value='Dog'>Dog</option>
                        <option value='Cat'>Cat</option>
                    </select>
                    <p class="help-block with-errors text-danger"></p>
                </div>
                <label class="form-label col-md-2 col-form-label">Breed*</label>
                <div class="col-md-4">
                    {{ breeds|json_script:"breeds" }}
                    <select class="form-control" id="register-breed" type="text" required="required">
                        <option value="">Choose</option>
                    </select>
                    <p class="help-block with-errors text-danger"></p>
                </div>
            </div>
            <div class="row form-group">
                <label class="form-label col-md-2 col-form-label">Country*</label>
                <div class="col-md-4">
                    {% get_countries as countries %}
                    <select class="form-control" id="register-country" type="text">
                        <option value="">Choose</option>
                        {% for country in countries %}
                        <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    <p class="help-block with-errors text-danger"></p>
                </div>
                <label class="form-label col-md-2 col-form-label">City*</label>
                <div class="col-md-4">
                    <input class="form-control" id="register-city" type="text"
                           placeholder="City" required="required">
                    <p class="help-block with-errors text-danger"></p>
                </div>
            </div>
            <div class="row form-group">
                <label class="form-label col-md-2 col-form-label">Forbidden Countries*</label>
                <div class="col-md-4">
                    {% get_countries as countries %}
                    <select class="form-control" id="register-forbidden-countries" type="text" multiple>
                        <option value="">Choose</option>
                        {% for country in countries %}
                        <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    <small id="forbidden-countries-help" class="form-text text-muted text-left">
                        (Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.)
                    </small>
                    <p class="help-block with-errors text-danger"></p>
                </div>
                <label class="form-label col-md-2 col-form-label">Gender*</label>
                <div class="col-md-4">
                    <select class="form-control" id="register-gender" required="required" type="text">
                        <option value="">Choose</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <p class="help-block with-errors text-danger"></p>
                </div>
            </div>
            <div class="row form-group">
                <label class="form-label col-md-2 col-form-label">Hair Length*</label>
                <div class="col-md-4">
                    <select class="form-control" id="register-hair-length" required="required" type="text">
                        <option value="">Choose</option>
                        <option value="Short">Short</option>
                        <option value="Medium">Medium</option>
                        <option value="Long">Long</option>
                    </select>
                    <p class="help-block with-errors text-danger"></p>
                </div>
                <label class="form-label col-md-2 col-form-label">Size*</label>
                <div class="col-md-4">
                    <select class="form-control" id="register-size" required="required" type="text">
                        <option value="">Choose</option>
                        <option value="Small">Small (1-10kg)</option>
                        <option value="Medium">Medium (10-20kg)</option>
                        <option value="Large">Large (20-30kg)</option>
                        <option value="X-Large">X-Large (30+ kg)</option>
                    </select>
                    <p class="help-block with-errors text-danger"></p>
                </div>
            </div>
            <div class="row form-group">
                <label class="form-check-label col-md-2">Sterilized</label>
                <div class="col-md-4 check-input">
                    <input class="form-check-input" id="register-sterilized" type="checkbox">
                </div>

                <label class="form-check-label col-md-2">House Trained</label>
                <div class="col-md-4 check-input">
                    <input class="form-check-input" id="register-house-trained" type="checkbox">
                </div>
            </div>
            <div class="row form-group">
                <label class="form-check-label col-md-2">Is Adopted</label>
                <div class="col-md-4 check-input">
                    <input class="form-check-input" id="register-adopted" type="checkbox">
                </div>

                <label class="form-check-label col-md-2">Show Badge</label>
                <div class="col-md-4 check-input">
                    <input class="form-check-input" id="register-show-badge" type="checkbox">
                </div>
            </div>
            <div class="row form-group">
                <label class="form-check-label col-md-2">Good with kids</label>
                <div class="col-md-4 check-input">
                    <input class="form-check-input" id="register-good-with-kids" type="checkbox">
                </div>

                <label class="form-check-label col-md-2">Good with cats</label>
                <div class="col-md-4 check-input">
                    <input class="form-check-input" id="register-good-with-cats" type="checkbox">
                </div>
            </div>
            <div class="row form-group">
                <label class="form-check-label col-md-2">Good with dogs</label>
                <div class="col-md-4 check-input">
                    <input class="form-check-input" id="register-good-with-dogs" type="checkbox">
                </div>

                <label class="form-check-label col-md-2">Special Needs</label>
                <div class="col-md-4 check-input">
                    <input class="form-check-input" id="register-special-needs" type="checkbox">
                </div>
            </div>
            <div class="row form-group">
                <label class="form-label col-md-2 col-form-label">Characteristics*</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="register-characteristics" required="required"></textarea>
                    <small id="characteristics-help" class="form-text text-muted text-left">
                        Specify pet's traits such as - Curious, Handsome, Playful, Loves Treats, Clever,
                        Golden eyes.
                    </small>
                    <p class="help-block with-errors text-danger"></p>
                </div>
            </div>
            <div class="row form-group">
                <label class="form-label col-md-2 col-form-label">About*</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="register-story" required="required" rows="5"></textarea>
                    <small id="story-help" class="form-text text-muted text-left">
                        Provide a small story about the pet e.g - how it was rescued or a small introduction
                        about the pet etc.
                    </small>
                    <p class="help-block with-errors text-danger"></p>
                </div>
            </div>

            <div class="row form-group">
                <h3 class="col-md-12" style="color: #6B8E23">Information of the Updater</h3>
            </div>
            <div class="row form-group">
                <label class="form-label col-md-1 col-form-label">Name*</label>
                <div class="col-md-3">
                    <input type="hidden" class="form-control" id="register-user-id" value= "{{ userid }}">
                    <input class="form-control" id="register-added-by" type="text"
                           placeholder="Name of the person"
                           required="required" value="{{ username }}" readonly="readonly">
                    <p class="help-block with-errors text-danger"></p>
                </div>
                <label class="form-label col-md-1 col-form-label">Mobile*</label>
                <div class="col-md-3">
                    <input class="form-control" id="register-mobile" type="tel"
                           placeholder="Mobile of the person"
                           required="required">
                    <p class="help-block with-errors text-danger"></p>
                </div>
                <label class="form-label col-md-1 col-form-label">Email*</label>
                <div class="col-md-3">
                    <input class="form-control" id="register-email" type="email"
                           placeholder="Email of the person"
                           required="required">
                    <p class="help-block with-errors text-danger"></p>
                </div>
            </div>
            <div class="row form-group">
                <div class="clearfix"></div>
                <div class="col-md-12 text-center">
                    <div id="register-success"></div>
                    <button id="sendRegistrationFormButton" class="btn btn-primary btn-md" type="button">
                        Submit
                    </button>
                </div>
            </div>

            <div class='upload-block' id="upload-block">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="register-pet-id" value=>
                </div>
                <div class="row form-group">
                    <h3 class="col-md-12" style="color: #6B8E23">Upload Images</h3>
                </div>
                <div class="row form-group">
                    <label class="form-label col-md-2 col-form-label">Upload Images*</label>
                    <div class="col-md-8">
                        <input style="height: 45px;" class="form-control" required="required" type="file"
                               id="multiupload"
                               name="files[]"
                               multiple="multiple" autofocus>
                        <p class="help-block with-errors text-danger"></p>
                        <div id="upload-stats"></div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" id="upload-btn" class="btn btn-primary btm-md">Upload</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock page %}