{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
  <!--<h2 class="text-center">Nossos números</h2>-->
  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
      <!--<p class="site-stats">{{ pets_count }} pets cadastrados</p>-->
      <!--<p>Contando cadastros ativos e inativos</p>-->
    <!--</div>-->

    <!--<div class="col-md-6">-->
      <!--<p class="site-stats">{{ users_count }} usuários cadastrados</p>-->
    <!--</div>-->
  <!--</div>-->

  <!--<h2 class="text-center">Patrocinadores</h2>-->
  <!--<div class="row sponsors">-->
    <!--<div class="col-md-3">-->
      <!--<a href="https://m.do.co/c/9125da8d6399" target="_blank" rel="noreferrer noopener">-->
        <!--<img class="img-responsive" src="{% static 'img/sponsors/digitalocean.png' %}" alt="DigitalOcean logo">-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
{% endblock %}
